@model Loading

<div id="sys_loading_@Model.Id" class="loading @Model.CSSClasses" data-display="@Model.Display" style="display: @Model.GetDisplayStyle()">
    <div>
        <div></div>
    </div>
</div>
